.get-employee-conatiner{
  margin-top: 3.2rem;
}


.getemployee-button{
  display: flex;
  justify-content: center;
  column-gap: 1.6rem;
}

.btn-get-employee{
  padding: 1.6rem 3.2rem;
  font-size: 1.6rem;
  border-radius: 0.8rem;
}

.get-employees-list{
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  padding: 1.6rem;

}
.get-employee-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  row-gap: 1.6rem;
  border-bottom: 1px solid black;
  padding: 0.8rem;
  /*column-gap: 4.8rem;*/
  
  
}

.employee-info{
  flex: 1;
  text-align: left ;
}

.email{
  flex: 1.5;
}

.btn-delete{
  padding: 0.8rem 3.2rem;
}